*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
   
}
.main{
display: flex;
}

.sub {
    display: flex;
   gap: 30px;
   text-decoration: none;
   
}
.sub a{
    color: white;
}
@media (max-width:600px){

    .parent{
        flex-direction:column;
        align-items:flex-start;
    }

    .main{
        flex-direction:column;
        width:100%;
        margin-top:10px;
    }

    .sub a{
        padding:10px 0;
    }

}